<article class="post">
  <header class="post-header home">
    <div class="post-title">Home</div>
  </header>

  <div>
    Hello! Thank you for visiting my homepage.<br>
    I am a PhD candidate at the department of mathematics, Sungkyunkwan University,  Republic of Korea.<br>
    I am interested in the following research fields.
    <ul>
      <li>Distributed Optimization</li>
      <li>Reinforcement Learning</li>
      <li>Control Theory</li>
    </ul>
    If you have more information about me, please contact me via email <b>jimkim[at]skku.edu</b>.
  </div>
  <h3>Education</h3>
  <div>
    <ul>
      <li>Progress in integrated PhD prgoram, September 2018 -, Sungkyunkwan University, Suwon, Republic of Korea.</li>
      <li>B.S. in Mathematics, August 2018, Sungkyunkwan University, Suwon, Republic of Korea.</li>
    </ul>
  </div>

  <div class="post-content">
      {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <!-- <li class="post-list-item">
         {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} 
        {%- assign date_format = "%Y/%m/%d" -%}
        <span class="post-date">{{ post.date | date: date_format }}</span>
      	<a class="post-link" href="{{ post.url | relative_url }}">
    	    {{ post.title | escape }}
		</a>
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
      </li> -->
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>
</article>



</div>
