<article class="post">
  <header class="post-header home">
    <div class="post-title">Jimyeong Kim</div>
  </header>
  <div>
    <img src="/assets/jimyeong.jpeg" style="float: left;  margin-left: 20px; margin-bottom: 10px" border="0" width="200" height="200">
  </div>
  <div style="clear: both;"></div>

  <div>I am a Post-Doctoral researcher at Stochastic Analysis and Application Research Center at KAIST (Mentor: <a href="https://mathsci.kaist.ac.kr/~donghwankim/">Donghwan Kim</a>).</div>
  <!--<div><a href="/assets/CV_JimyeongKim.pdf" download="CV_JimyeongKim.pdf">Curriculum Vitae</a> </div>-->

  <h2>Research interests</h2>
  <div>
  Decentralized Optimization, Acceleration method, Zeroth-order optimization, Machine Learning
  </div>


  <h2>Employment</h2>
  <div>
    <ul>
      <li>March 2023 - present, Research fellow, SAARC at KAIST</li>
    </ul>
  </div>

  <h2>Education</h2>
  <div>
    <ul>
      <li>PhD in Mathematics, February 2024, Sungkyunkwan University, Suwon, Republic of Korea (Advisor: <a href="https://sites.google.com/site/wchoiam">Woocheol Choi</a>).</li>
      <li>B.S. in Mathematics, August 2018, Sungkyunkwan University, Suwon, Republic of Korea.</li>
    </ul>
  </div>

  <h2>Honors and Awards </h2>
  <div>
    <ul>
      <li>2024, Du-Myeong Fellowship, Miwon Commercial Co., Ltd. & Department of Mathematical Sciences, KAIST</li>
      <li>2023, BK21 Focused Research Scholarship, Sungkyunkwan University </li>
      <li>2022, BK21 Innovative Research Scholarship, Sungkyunkwan University </li>
      <li>2021, BK21 Focused Research Scholarship, Sungkyunkwan University</li>
      <li>2015, A bronze prize, Korean College Students Mathematical Competition, Korea Math Society</li>
    </ul>
  </div>

  
  <h2>Contact</h2>
  <div>jimyeongkim[at]kaist.ac.kr</b></div>


  <div class="post-content">
      {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <!-- <li class="post-list-item">
         {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} 
        {%- assign date_format = "%Y/%m/%d" -%}
        <span class="post-date">{{ post.date | date: date_format }}</span>
      	<a class="post-link" href="{{ post.url | relative_url }}">
    	    {{ post.title | escape }}
		</a>
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
      </li> -->
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>
</article>

</div>
