<article class="post">
  <header class="post-header home">
    <div class="post-title">Jimyeong Kim</div>
  </header>
  <div>
    <img src="/assets/jimyeong.jpeg" style="float: left;  margin-left: 20px; margin-bottom: 10px" border="0" width="200" height="200">
  </div>
  <h2>About me</h2>
  <div><a href="/assets/CV_JimyeongKim.pdf" download="CV_JimyeongKim.pdf">Curriculum Vitae</a> </div>
  <h2>Research interests</h2>
  <div>
    <ul>
      <li>Decentralized Optimization</li>
      <li>Acceleration method</li>
      <li>Zeroth-order optimization</li>
      <li>Machine Learning</li>
    </ul>
    If you would like to have more information about me, please contact me via email or download my .
  </div>
  <h2>Education</h2>
  <div>
    <ul>
      <li>PhD in Mathematics, February 2024, Sungkyunkwan University, Suwon, Republic of Korea.</li>
      <li>B.S. in Mathematics, August 2018, Sungkyunkwan University, Suwon, Republic of Korea.</li>
    </ul>
  </div>
  <h2>Contact</h2>
  <div>jimkim[at]skku.edu</b></div>


  <div class="post-content">
      {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <!-- <li class="post-list-item">
         {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} 
        {%- assign date_format = "%Y/%m/%d" -%}
        <span class="post-date">{{ post.date | date: date_format }}</span>
      	<a class="post-link" href="{{ post.url | relative_url }}">
    	    {{ post.title | escape }}
		</a>
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
      </li> -->
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>
</article>



</div>
